<!DOCTYPE html>
<html>
<head>
    <title>Загрузка файла</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
        }

        button {
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 10px;
        }
    </style>
</head>
<body>
<h1>Загрузка файла</h1>
<button onclick="location.href='upload'">Загрузи файл</button>
</body>
</html>